In [20]:
#declare list
a=[1,2,3]
b=["a,",1,3.4]
c=["a","cc"]
len(a)
f= a+a
len(f)

6

In [19]:
#Add/delete from a list
a=[1,2,3]
a.append("af")
a.append("rt")
a

[1, 2, 3, 'af', 'rt']

In [22]:
b=[1,2,5]
b.insert(2,3)
b

[1, 2, 3, 5]

In [24]:
x=[-9,45,23,86,33,96,23]
x.sort()
print(x)

[-9, 23, 23, 33, 45, 86, 96]

In [25]:
x.sort(reverse=True)
x

[96, 86, 45, 33, 23, 23, -9]

In [26]:
y=[-9,45,23,86,33,96,23]
min(y)

-9

In [27]:
z=[-9,45,23,86,33,96,23]
max(z)

96

In [30]:
#Create a list of length 7(int, floats) and sort the menbers in descending order
a=[1,2,3,6,3,9,7]
a.sort(reverse=True)
b=a
print(b)

[9, 7, 6, 3, 3, 2, 1]

In [32]:
b[2:5]

[6, 3, 3]

In [35]:
b.insert(0,"a")
b.insert(3,"b")
b.insert(5,"c")
b

['a', 'a', 9, 'b', 7, 'c', 6, 3, 3, 2, 1]

In [37]:
#Tuples are immutable
a=()
a=(1,2,3)
b=(1,"a")
a[-1]

3

In [49]:
#DICTIONARY
z={}
z={"A":"apple","B":"boy"}
z
z.keys()
z.values()
z={1:"a",1:"b",3:"c",4:"d"}
z
z[2]="p"
z[4]="o"
z

{1: 'b', 3: 'c', 4: 'o', 2: 'p'}

In [43]:
a=[1,2,3,6,3,3,9,6,9,7]
tuple(a)
set([1,2,3,3,4,4,5,5,6,6,9])

{1, 2, 3, 4, 5, 6, 9}

In [52]:
#Map 2 list into dictionaries
a=["a","b","g","r","y"]
b=[0,1,2,3,3,4,5]
d1= dict(zip(b,a))
print(d1)

{0: 'a', 1: 'b', 2: 'g', 3: 'y'}

In [53]:
list(range(1,6,1))

[1, 2, 3, 4, 5]

In [1]:
listOfStrings = ['One', 'Two', 'Three']
strOfStrings = ''.join(listOfStrings)
print(strOfStrings)

OneTwoThree

In [2]:
# List Of Integers to a String
listOfNumbers = [1, 2, 3]
strOfNumbers = ''.join(str(n) for n in listOfNumbers)
print(strOfNumbers)

123

In [4]:
listOfStrings = ['One', 'Two', 'Three']
tuple(listOfStrings)

('One', 'Two', 'Three')